<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>
<form action="/products" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="category">Category ID:</label><br>
    <input type="text" id="category" name="category"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>